<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refried Beans</title>
    <link rel="icon"
        href="../images/pixel-art-plate-with-fried-eggs-bacon-vector-icon-8bit-game-white-background_360488-1474-removebg-preview.png"
        type="image/png">
    <link rel="stylesheet" href="../styles/recipes.css">
</head>

<body>
    <center><a href="../index.html">
            <img src="../images/pixel-art-plate-with-fried-eggs-bacon-vector-icon-8bit-game-white-background_360488-1474-removebg-preview.png"
                width="90"></a></center>

</body>

</html>