        a.resultLink {
            display: block;
            font-size: 22px;
            text-decoration: none;
            padding: 5px 10px;
            margin: 5px 0;
            background-color: rgb(170, 170, 170);
            color: white !important;
            border-radius: 5px;
            letter-spacing: 1px;
            font-family: 'light', sans-serif;
        }

        body {
            text-align: center;
            margin-top: 50px;
            font-family: 'bold', sans-serif;
            background-color: #EDECE4;
        }

        input {
            padding: 10px;
            font-size: 18px;
            width: 250px;
            margin-bottom: 20px;
            border-color: #B6B9D3;
            border-radius: 5px;
            border-style: double;
            color: #60679F;
        }

        ul#results {
            padding: 0;
        }

        ul#results li {
            margin: 5px 0;
        }

        ul#results a {
            text-decoration: none;
            color: #0077cc;
        }

        @font-face {
            font-family: 'Bold';
            src: url('fonts/SF-Pro-Display-Bold.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Light';
            src: url('fonts/SF-Pro-Display-Light.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }